<div>
  <h4>Your Guide to an Awesome Experience</h4>
  <ol>
    <li><strong>Respect:</strong> It is an honor to be invited into a family home, and Balinese culture treats their guests with the utmost respect so please do the same.</li>
    <li><strong>Attire and Cultural Customs:</strong> Please cover shoulders and legs at all times. Besides that, there isn’t anything else you need to prepare for beforehand. Your travel buddy will explain any further customs to you during your experience.</li>
    <li><strong>Travel Buddies:</strong> They are not tour guides, so please do not treat them as such. They are there to aid your understanding, provide context to the experiences, and make your communicate more robust with the hosts. Both the travel
    buddies and the host families are a wealth of information, so please take advantage.</li>
    <li><strong>Immersion:</strong> It is important to take note of things that you do not agree with but remember that you are taking part in their culture and their family life.</li>
    <li><strong>Conditions:</strong> Do not expect a guest house or a hotel, you are in a family home. You will be living in the same conditions as the family. Do not expect hot water or overhead showers.</li>
    <li><strong>Safety:</strong> We always aim for the most sanitary conditions, including the food you consume and the beverages you drink (most will be packaged). Food will be local made with local ingredients and most beverages you consume will be packaged. Secondly, where your helmet at all times and drive carefully and mindfully on scooters at all
    times. We are not liable for any injury or sickness.</li>
    <li><strong>Language:</strong> Remember, we are in Indonesia. Please do not get frustrated with the English capability, but rather see it as an opportunity for non-verbal communication and to learn and improve your Bahasa. Also, your travel buddies will be a large help in this respect.</li>
    <li><strong>Empathy vs. Sympathy:</strong> One of our goals is to evoke a sense of bi-directional empathy (not sympathy, at all). This is a learning experience for both parties, as you are the first foreigners to be invited into these homes.</li>
    <li><strong>Have Context:</strong> Having a good base level understanding of the context will do wonders for your experience. Things that you wouldn’t normally find interesting suddenly become interesting, and your experience becomes more meaningful. Our travel buddies and hosts will be able to fill in the gaps and give you a deeper understanding but it’s great to head to your stay having already a foundational knowledge.</li>
    <li><strong>Have Fun:</strong> Be open to new experiences and have fun!</li>
  </ol>
</div>
