<div class="container">
  <div class="row">
      <h1><%= @experience.title %></h1>
      <h4><%= @experience.short_description %></h4>
      <h3>Let your adventure begin</h3>
    </div>

    <%= render 'trips/form', experience: @experience %>





</div>
