<div class="container">
  <div class="row">
      <h1><%= @experience.title %></h1>
      <h4><%= @experience.short_description %></h4>
      <h3>You're much closer to meeting the host from [start date] to [end date]</h3>
    </div>
    <div class="row">
        <h3>Confirm Your Personal Details</h3>
        <%= render 'trips/form', experience: @experience %>
    </div>
</div>




