<% content_for(:title_tag) do %>
  Create a New Fund for a Community Project
<% end %>

<div class="activity">

  <% trips.each do |trip| %>
   <div class="booking">
    <%= trip.name %>

  </div>
  <% end %>

</div>
