# Custom
/config/application.yml
/config/cloudinary.yml
.vscode

# Standard GitHub ruby, and rails .gitignore templates

*.bowerrc
*.bridgesupport
*.gem
*.orig
*.rbc
*.swp
.DS_Store
.bundle
.byebug_history
.dat*
.env
.powenv
.repl_history
.rspec
.rvmrc
/.bundle
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/lib/bundler/man/
/log
/pkg/
/public/system
/rdoc/
/spec/examples.txt
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/vendor/assets/bower_components
/vendor/bundle
bower.json
build-iPhoneOS/
build-iPhoneSimulator/
build/
capybara-*.html
/config/initializers/secret_token.rb
/config/application.yml
log/*.log
node_modules/
pickle-email-*.html
public/assets
rerun.txt
tmp/*
tmp/**/*
