// Define variables for your color scheme

// For example:

$trov_red: #F67960;
$trov_blue: #3DBDBD;
$trov_yellow: #F9C254;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

