<p>Hey <%= @conversation.recipient.first_name %></p>

<p>You have received a message on Troveko </p>

<p>Please <a href="here www.troveko.org/users/sign_in">log into your Troveko profile</a> to respond.</p>

<p>Speak Soon,</p>
<p>Team Troveko</p>
