<p><%= @greeting %></p>

<p>Your request to stay at <%= @order.trip.experience.title %> has been received and you can expect confirmation within 24 hours.</p>

<p>Thanks for joining us on our mission to change travel.</p>

<p>Speak Soon,</p>
<p>Team Troveko</p>


