<p><%= @greeting %></p>

<p>Your request to stay at <%= @trip.experience.title %> has been confirmed by the host, so pack your bags!</p>

<p>Thanks for joining us on our mission to drive sustainable travel.</p>

<p>Speak Soon,</p>
<p>Team Troveko</p>

