<!-- <h1>User#welcome</h1> -->

<p><%= @greeting %></p>

<p>Welcome to Troveko. We are on a mission to inspire sustainable, community-based tourism initiatives in Bali and beyond, so glad to have you be a part of it.</p>

<p>See ya!</p>
<p>Team Troveko</p>


