.confirmation-icon {
  font-size: 10em;
}

#confirmation_box {
  padding: 30px 40px;
  background-color: white;
  // color: $trov_blue;
  border: 2px;
  border-radius: 20px;
  margin: 30px 0px;
}


#payment-box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 50px 0px;
  // color: $trov_blue;
}


@media screen and (max-width: 780px){
 #experience{
  display: block !important;
  padding: 17px;
}
}


.item-1,
.item-2,
.item-3,
.item-4 {
  position: absolute;
  display: block;
  top: 2em;

  width: 60%;

  font-size: 2em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

.item-4{
  animation-name: anim-4;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

@keyframes anim-4 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
