/* Fonts and colors */
.fund {
  margin-top: 40px;
}
.fund h2 {
  font-size: 22px;
}
.fund h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.fund p {
  color: rgba(0,0,0,0.6);
}
.fund .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #37B686;
}
.fund .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
.stat h3 {
  // color: #37B686;
  font-size: 28px;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.description h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}
