// Specific CSS for your home-page


.navbar_test {
  height: 70px;
  background-color: #d8d8d8;
  align-items: center;
  justify-content: center;
  padding:0;
  color: white;
}

.placeholder {
  text-align: center;
  // background-color: rgba(225, 225, 225, .8);
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  color: white;
  background-size: cover !important;
  display: flex;
}

.placeholder h1 {
  font-size: 40px;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
  // font-family: 'futura', sans-serif;
  margin-top: 0px;
}

.hovercard {
  height: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  }


#picture {
  // padding-left: 0px;
  // padding-right: 0px;
  margin-bottom: 0px;
  padding: 15px;
}

#picturerow {
  position: relative;
  z-index: 10;
  width: 100%;
   //  -webkit-box-shadow: 0 5px 1px -4px #000000;
   // -moz-box-shadow: 0 5px 1px -4px #000000;
   //      box-shadow: 0 5px 1px -4px #000000;
  margin-right: 0;
}

#featured_experiences {
  background-color: $trov-red;
  padding-bottom: 40px;
}

#testimonials {
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

#testimonials img {
  border-radius: 20px;
}

// rgba(246, 121, 96, .6)
// div#picture.col-l-4-xs-12.col-sm-4
// {
//   height: 320px;
// }

// #experience {
//     height: 320px;
// }

.row {
//   margin-bottom: 0px;
//     height: 320px;
  margin-left: 0px;
  margin-right: 0px;
}

.hover
.hover * {
  box-sizing: border-box;
}

.hover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  // height: auto;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  // display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
  margin-bottom: 0px;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.hvrbox .hvrbox-layer_slideup {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hvrbox .hvrbox-layer_slideup {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


/* Global */
// html{
//   min-height: 100%;
//   overflow: hidden;
// }
// body{
//   height: calc(100vh - 8em);
//   padding: 4em;
//   color: rgba(255,255,255,.75);
//   font-family: 'Anonymous Pro', monospace;
//   background-color: rgb(25,25,25);
// }
.typewrite{
    position: relative;
    // top: 50%;
    width: 24em;
    margin: 0 auto;
    // border-right: 2px solid rgba(255,255,255,.75);
    font-size: 90%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
    font-weight:lighter;
    text-decoration: none;
    text-align: center;
}

.typewrite:hover {
  color: white;
  text-decoration: none;
}

// .btn-treehouse {
//   color: #ff583d;
//   border: 3px solid #ff583d;
//   padding: 10px 15px;
//   border-radius: 10px;
//   font-weight: lighter;
//   opacity: 0.6;
// }

// .btn-medium:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: #999999;
// }

.carousel-frame {
    width: 100%;
    margin-bottom: 0.5em;
    padding-bottom: 1em;
    position: relative;
    overflow-x: scroll;
    white-space: nowrap;
 }
 .carousel-frame ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}
.carousel-frame li.carousel-item {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.description {
  color: #8e8e8e;
}

.role{
  color: #606060;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  // font-weight: bold;
  background: $trov_red;
  transition: background 0.9s ease;
  text-decoration: none;
  font-size: 25px;
  border: 0px solid !important;
  // font-family: "Barlow Condensed", "Helvetica", "sans-serif";
}
.btn-treehouse:hover {
  opacity: 1;
  background: #ffc344;
  text-decoration: none !important;
  color: white;
}

.btn-treehouse:active {
    text-decoration: none !important;
    color: white;
}

.btn-treehouse:visited {
    text-decoration: none !important;
    color: white;

}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// body { font-family: sans-serif; }



.toggle-check-input {
  width: 1px;
  height: 1px;
  position: absolute;
}

.toggle-check-text {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: #CCC;
  padding: 0.25em 0.5em 0.25em 2em;
  border-radius: 1em;
  min-width: 2em;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.15s;
}


.toggle-check-text:after {
  content: ' ';
  display: block;
  background: #FFF;
  width: 1.1em;
  height: 1.15em;
  border-radius: 1em;
  position: absolute;
  left: 0.3em;
  top: 0.25em;
  transition: left 0.15s, margin-left 0.15s;
}

.toggle-check-text:before {
  content: 'No';
}

.toggle-check-input:checked ~ .toggle-check-text {
  background: #8ad869;
  padding-left: 0.5em;
  padding-right: 2em;
}

.toggle-check-input:checked ~ .toggle-check-text:before {
  content: 'Yes';
}

.toggle-check-input:checked ~ .toggle-check-text:after {
  left: 100%;
  margin-left: -1.4em;
}

.testimonial-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.img-responsive {
  width: 100%;
}

// /* Animation */
// .anim-typewriter{
//   animation: typewriter 8s steps(44) 2s 1 normal both,
//              blinkTextCursor 500ms steps(44) infinite normal;
// }
// @keyframes typewriter{
//   from{width: 0;}
//   to{width: 10em;}
// }
// @keyframes blinkTextCursor{
//   from{border-right-color: rgba(255,255,255,.75);}
//   to{border-right-color: transparent;}
// }
