.termsx {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
}

.new_trip {
  // background-color: $trov_blue;
  padding-bottom: 30px;
  // color: white;
}
