<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ejohnst2/troveko"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="https://www.facebook.com/trovtribe"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" style="display: inline-block; ">
    <img src="<%= image_path("small_logo2.png") %>" alt="host" style="height: 30px;">
    Impact Through Adventure | hello@troveko.com
  </div>
</div>
