<div id="main-nav" class="<%= yield(:sticky_navbar).blank? ? 'navbar-troveko-sticky' : yield(:sticky_navbar) %> navbar-filters" style="justify-content: space-around; background-color: white; ">

 <div class="navbar-troveko-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" style="color: black;" data-toggle="dropdown"></i>
      <ul class="dropdown-menu">
        <li><a href="#overview" style="font-size: 24px;">Overview</a></li>
        <li><a href="#reviews" style="font-size: 24px;">Reviews</a></li>
        <li><a href="#location" style="font-size: 24px;">Location</a></li>
        <li><a href="#host" style="font-size: 24px;">Host</a></li>
        <li><a href="#activities" style="font-size: 24px;">Activities</a></li>
        <li><a href="#impact" style="font-size: 24px;">Fund</a></li>
      </ul>
    </div>
  </div>

  <a href="#overview" class="hidden-xs hidden-sm" style="font-size: 24px;"><h4>Overview</h4></a>
  <a href="#reviews" class="hidden-xs hidden-sm" style="font-size: 24px;"><h4>Reviews</h4></a>
  <a href="#location" class="hidden-xs hidden-sm" style="font-size: 24px;"><h4>Location</h4></a>
  <a href="#host" class="hidden-xs hidden-sm" style="font-size: 24px;"><h4>Host</h4></a>
  <a href="#activities" class="hidden-xs hidden-sm" style="font-size: 24px;"><h4>Activities</h4></a>
  <a href="#impact" class="hidden-xs hidden-sm" style="font-size: 24px;"><h4>Fund</h4></a>
  <% if !current_user.nil? %>
        <h4><%= link_to 'Message Host', conversations_path(sender_id: current_user.id, recipient_id: @experience.user.id, experience_id: @experience.id), method: :post, style: "font-size: 24px", class: "hidden-xs hidden-sm" %></h4>
      <% end %>

  <h4><%= link_to "Book Now", new_experience_trip_path(@experience), style: "font-size: 24px; width: 250px; text-align: center;", class: "btn-lg btn-danger", id: "book-now", :method => :get %></h4>

</div>
