<div class="<%= yield(:sticky_navbar).blank? ? 'navbar-troveko-sticky' : yield(:sticky_navbar) %> navbar-show">




    <!-- Links -->

    <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-info-circle" aria-hidden="true" id="stuff"></i><br><p class="title">Overview</p></center>
    </div>
   <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-suitcase" aria-hidden="true" id="stuff"></i><p class="title">Logistics</p></center>
    </div>
   <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-globe" aria-hidden="true" id="stuff"></i><p class="title">Map</p></center>
    </div>

   <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-star" aria-hidden="true" id="stuff"></i><p class="title">Reviews</p></center></i>
    </div>
</div>
