<div id="main-nav" class="<%= yield(:sticky_navbar).blank? ? 'navbar-troveko-sticky' : yield(:sticky_navbar) %> navbar-filters" style="justify-content: space-around; background-color: white;
">
  <a href="#overview" style="font-size: 24px;">Overview</a>
  <a href="#reviews" style="font-size: 24px;">Reviews</a>
  <a href="#location" style="font-size: 24px;">Location</a>
  <a href="#accomodation" style="font-size: 24px;">Accomodation</a>
  <a href="#activities" style="font-size: 24px;">Activities</a>
  <a href="#impact" style="font-size: 24px;">Impact</a>

</div>


<!-- <i class="fa fa-info-circle" aria-hidden="true" id="stuff"></i>
<i class="fa fa-suitcase" aria-hidden="true" id="stuff"></i>
<i class="fa fa-globe" aria-hidden="true" id="stuff">
  <i class="fa fa-star" aria-hidden="true" id="stuff">

 -->

<!--      <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-info-circle" aria-hidden="true" id="stuff"></i><br><p class="title">Overview</p></center>
    </div>
   <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-suitcase" aria-hidden="true" id="stuff"></i><p class="title">Logistics</p></center>
    </div>
   <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-globe" aria-hidden="true" id="stuff"></i><p class="title">Map</p></center>
    </div>

   <div class="col-lg-3 col-md-3 col-xs-3" id="column">
      <center class="icon"><i class="fa fa-star" aria-hidden="true" id="stuff"></i><p class="title">Reviews</p></center></i>
    </div>
</div> -->
