

<center><div class="stickycontent">
  <center><img src="<%= image_path("nonprofit.png") %>" alt="host" class="nonprofit"></center>
  <div class="info">

<div id="container">
  <div id="bar-1" class="bar-main-container">
    <div class="wrap">
      <p class="project">Build a School in Indonesia</p>
      <div class="info">
        <div class="bar-percentage" data-percentage="80">
        </div>
        <div class="bar-container">
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <p class ="amount">Total Funded</p>
</div>

    <!-- Everything here will be sticky to the right! -->
    <div class="booking">
      <h3>Rp. <%= @experience.price %>/night</h3>
    </div>
    <div class="form">
      <form>
        <input type="date" class="date">
        <input type="date" class="date">
        <input type="number" class="date" placeholder="Guests">
        <br>
        <input type="submit" class="button" value="Start Adventure">
      </form>
    </div></center>
  </div>
</div>
