<div id="container">
  <div id="bar-1" class="bar-main-container">
    <div class="wrap">
      <p class="project">Build a School in Indonesia</p>
      <div class="info">
        <div class="bar-percentage" data-percentage="80">
        </div>
        <div class="bar-container">
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <p class ="amount">Total Funded: $500</p>
</div>
