#impact-image .impact-overlay {
    background-color: rgba(60,60,60,0.8);
    height: 100%;
    color: #FFFFFF;
    // text-align: center;
    vertical-align: baseline;
}

#team {
  // background-color: rgba(60,60,60,0.5);
  background-color: white;
  height: 100%;
  // color: #FFFFFF;
  vertical-align: baseline;
  // margin: 30px 30px;
}

#story {
  background-color: rgba(60,60,60,0.5);
  height: 100%;
  vertical-align: baseline;
  color: #FFFFFF;
}

#story-image {
   background-image: url('http://res.cloudinary.com/troveko/image/upload/v1515193365/farmer_mmilxk.jpg');
    background-size: cover;
    height: 650px;
    margin: 60px 0px 0px 0px;
}


#story p {
 font-size: 24px;
}


.about-section{
  padding: 30px 0px;
}
#impact-image {
    background-image: url(banner.png);
    background-size: cover;
    height: 650px;
    margin: 60px 0px 0px 0px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

#impact-image .impact-overlay .impact-box {
    border: 1px solid #FFFFFF;
    margin: 130px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    top: 50%;
    bottom: 50%;
}

#impact-image .impact-overlay .impact-box.first {
    margin-left: 0px;
}

#impact-image .impact-overlay .impact-box h4 {
    font-size: 16px;
    line-height: 23px;
    color: #3C3C3C;
    background-color: #FFFFFF;
    width: 100%;
    margin: 0px;
    padding: 13px;
}

#impact-image .impact-overlay .impact-box p {
    padding: 13px;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.desktop-row-eq-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#team-members .team-header .team-avt, #team-members .advisory-header .team-avt {
    width: 140px;
    height: 140px;
    float: left;
    margin: 0 30px 13px 0;
  }

  #team-members img {
    border-radius: 50%;
  }

#team-members .team-name, #about-us .advisory-item .team-name {
    font-size: 30px;
    line-height: 38px;
    color: #3C3C3C;
    padding: 31px 0 0 0;
    margin: 0;
    font-weight: normal;
}

#team-members p.team-function, #about-us .advisory-item p.team-function {
    color: #76868F;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
}

#team-members .team-header, #about-us #team-members .advisory-header, #about-us .advisory-item .team-header, #about-us .advisory-item .advisory-header {
    width: 100%;
    float: left;
}

.background-image .background-overlay {
    background: rgba(60,60,60,0.8);
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
}

.background-image {
    background: url('http://res.cloudinary.com/troveko/image/upload/c_scale,w_565/v1515193573/IMG_5485_i0mbru.jpg') no-repeat center center;
    background-size: cover;
    height: 385px;
    width: 100%;
}

.background-image .background-overlay h1 {
    margin: 100px 0px 0px 0px;
    font-size: 39px;
    line-height: 47px;
}

.background-image .background-overlay h2 {
    margin: 10px 20px 0px 20px;
    font-size: 16px;
    line-height: 23px;
}

#team-item img {
  border-radius: 50%;
}
