/* ------------------------- Layout-------------------------- */

.profile-wrapper {
  margin: 100px;

}

.my-row {
  display: flex;
  margin-bottom: 30px;
}

.flex-item {
  align-self: center;
  flex: 0 0 auto;
}

/* -----------------------Profile info --------------------- */
.profile-info {
  background-color: transparent;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.host-image {
  border-radius: 1%;
}


.profile-image {
  border-radius: 50%;
  width: 30%;
  margin: 15px;
}

.edit-profile {
  display: flex;
}

.profile-icon {
  width: 50px;
  margin-right: 20px;
}

.icon-label {
  text-align: center;
}

/* -----------------------Activity tabs--------------------- */

.profile-activity {
  margin-left: 70px;
}

.activity {
  background-color: white;
  padding: 50px;
  // max-width: 600px;
  border-radius: 7px;
}


.empty p {
  opacity: 0.5;
}

.booking-content {
  margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pending {
  color: gray;
  margin-left: 30px;
  font-weight: lighter;
}


#meal-button {
  margin: 30px;
}

.meal-link {
  margin-left: 10px;
}

.booking-row {
  display: flex;
  align-items: baseline;
  margin: 10px;
}

.booking-confirm {
  display: flex;
  align-items: center;
  margin: 10px;
}

.end {
  margin-left: auto;
}

.date {
  font-size: 10px;
  font-weight: light;
  color: gray;
}

/* -----------------------ngo tabs--------------------- */

.ngo-actions {
display: flex;
padding: 20px;
justify-content: center;
}

