/* ------------------------- Layout-------------------------- */

.profile-wrapper {
  margin: 50px;

}

.my-row {
  display: flex;
  margin-bottom: 10px;
  margin-top: 25px;
}


.flex-item {
  align-self: center;
  flex: 0 0 auto;
}

/* -----------------------Profile info --------------------- */
.profile-info {
  background-color: transparent;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traveler-info{
  margin-bottom: 50px;
}

.host-image {
  border-radius: 1%;
}


.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 15px;
}

.experience-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 15px;
  margin-right: 50px;
}

.edit_profile {
  width: 100%;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  align-items: center;
  justify-content: center;
}

div.edit-profile {
}

.profile-icon {
  width: 50px;
  margin-right: 20px;
}

.icon-label {
  text-align: center;
}

/* -----------------------Activity tabs--------------------- */

.profile-activity {
  margin-right: 70px;
}

.activity {
  background-color: white;
  padding: 50px;
  // max-width: 600px;
  border-radius: 7px;
}


.empty p {
  opacity: 0.5;
}

.cancel {
  width: 200px;
  margin-left: 50px;
}

.booking-content {
  margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pending {
  color: gray;
  margin-left: 30px;
  font-weight: lighter;
}


#meal-button {
  margin: 30px;
}

#start-adventure {
  width:100%;
  height: 80px;
}

#start-adventure1 {
  width: 220px;
  height: 50px;
}

.meal-link {
}

.booking-row {
  display: flex;
  align-items: baseline;
  margin: 10px;
}

.booking-confirm {
  display: flex;
  align-items: center;
  margin: 10px;
}

.end {
  margin-left: auto;
}

.date {
  font-size: 10px;
  font-weight: light;
  color: gray;
}

/* -----------------------ngo tabs--------------------- */


.traveler-options{
  justify-content: space-around;
  align-items: center;
}

.ngo-actions {
display: flex;
padding: 20px;
justify-content: center;
}

#main-nav{
  position: sticky;
  top: 0;
}

#main-nav a {
  // text-transform: uppercase;
  // text-decoration: none;
  // color: #FFFFFF;
  padding: 10px;
  display: block;
}

#main-nav a:hover {
  background-color: transparent;
  border: 2.5px solid $trov-blue;
}
