<h1>Order</h1>
<ul>
  <li>Status: <%= @order.state %></li>
  <li>Item: <%= @order.experience_sku %></li>
  <li>Amount: <%= money_without_cents_and_with_symbol(@order.amount) %></li>
  <%= render 'trips/order_summary' %>
<ul>
