<div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1515184873/IMG_4132-1_evf5wa.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Eli Johnston</h5>
        <p class="team-function">Head of Troveko</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://media-exp2.licdn.com/media/AAIA_wDGAAAAAQAAAAAAAAorAAAAJGIzMGJiYTdkLWMyNTktNGZlNC04Y2RiLWY5OTQyNzg1ODQzOA.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Berenice Mahe</h5>
        <p class="team-function">Marketing Associate</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
      <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1512743229/rohanK-1_gkkq02.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Rohan Keshewar</h5>
        <p class="team-function">Manager, Troveko India</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1515184895/IMG_4122-3_tl7abt.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Grace Chen</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1515184891/IMG_4116-2_kwzyfs.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Alex Clapp</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1515189106/Webp.net-compress-image_2_rzrbsp.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Geraldo Costa</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
