<div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="https://files.slack.com/files-tmb/T02NE0241-F8APAEYAY-cdbc670e72/img_4132-1_1024.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Eli Johnston</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
      <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1512743229/rohanK-1_gkkq02.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Rohan Keshewar</h5>
        <p class="team-function">Head of Market, India</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="https://files.slack.com/files-tmb/T02NE0241-F8A2QRHDW-b190027ce9/img_4122-3_1024.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Grace Chen</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://files.slack.com/files-tmb/T02NE0241-F8BJ8R7FG-1bb23f3575/img_4116-2_1024.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Alex Clapp</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="http://res.cloudinary.com/troveko/image/upload/v1512743574/IMG_6448_fia47e.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Diskit Youdol</h5>
        <p class="team-function">Impact Lead, India</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://files.slack.com/files-tmb/T02NE0241-F8A2QLB24-d555287916/img_4129-4_1024.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Geraldo Costa</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Berenice Mahe</h5>
        <p class="team-function">Marketing Associate</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Lubna</h5>
        <p class="team-function">Assistant</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Nikhil</h5>
        <p class="team-function">Marketing</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
