<div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Eli Johnston</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Grace Chen</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Rohan Keshewar</h5>
        <p class="team-function">Role/Function</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Nik Udayabhanu</h5>
        <p class="team-function">Role/Function</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Alex Clapp</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Diskit Youdol</h5>
        <p class="team-function">Role/Function</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Geraldo Costa</h5>
        <p class="team-function">Developer</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Berenice Mahe</h5>
        <p class="team-function">Role/Function</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="https://res-4.cloudinary.com/production-visit-org/image/upload/c_thumb,f_auto,h_140,w_140/iznjopems5wrjwi28xvt">
        </div>
        <h5 class="team-name" id="michal_alter">Lubna Pradesh</h5>
        <p class="team-function">Role/Function</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
