<div class="col-l-4-xs-12 col-sm-4">
  <div class="testimonial-box">
      <img class="img-responsive" src="http://res.cloudinary.com/troveko/image/upload/c_fill,h_300,w_400/v1512748666/Photo_30.07.17_04_09_59_rz1qaa.jpg">
  </div>
  <p>The experience gave me more than I expected, and I had high expectations. I was worried I may feel like an unwanted tourist by some of the villagers but I felt like a honoured guest in not just my house but the community. I can't wait to go back and visit again. I learnt so much about the culture, best trip ever!</p>
  <h4>Sarah, 28, Australia</h4>
</div>

<div class="col-l-4-xs-12 col-sm-4">
  <div class="testimonial-box">
      <img class="img-responsive" src="http://res.cloudinary.com/troveko/image/upload/c_fill,h_300,w_400/v1512748730/caroline_woodfire_c0efke.jpg">
  </div>
  <p>I feel more connected overall to the island of Bali after living with 'true' Balinese who are living the same way Balinese have for centuries (minus some modern conveniences). I loved having the chance to see things from their perspective and be part of their daily life.</p>
  <h4>Caroline, 24, United States</h4>
</div>

<div class="col-l-4-xs-12 col-sm-4" style="">
  <div class="testimonial-box">
    <img class="img-responsive" src="http://res.cloudinary.com/troveko/image/upload/c_fill,h_300,w_400/v1518493855/7_qz8zdb.jpg">
  </div>
  <p>One of the most amazing experiences we have had in Bali! It is not for everyone, and you must go into it with an open mind, but the overall experience is unrivalled! The cultural experience alone makes it all worth it, and Pak Ketut and his family made us feel so welcome. The whole village did too!</p>
  <h4>Jerry, 39, Australia</h4>
</div>

