<div class="container-fluid">
  <div class="navbar-troveko-sticky navbar-filters" id='main-nav' style="justify-content: space-around;">
  <a href="#who" style="font-size: 24px;">Who</a>
  <a href="#what" style="font-size: 24px;">What</a>
  <a href="#why" style="font-size: 24px;">Why</a>
  <a href="#how" style="font-size: 24px;">How</a>
  <a href="#partners" style="font-size: 24px;">Support</a>
</div>

<div class="container">

  <div class="about-section">
    <h1>What we do</h1>
    <p>Troveko is a travel platform that allows travelers to book immersive experiences in rural and remote communities in Asia</p>
    <p>Our mission is to translate traveler curiosity into lasting impact, and we envision a world where travel is a means to an end not an end in itself. Key to achieveing this mission is by using the modern and emerging tools to streamline the process of creating meaningful local engagement in areas that lie beyond tourist hotspots.</p>
  </div>

  <div class="about-section">
    <h1>Who are we</h1>
    <p>Our team is a multi-disciplinary group of world-explorers and change-makers</p>
    <ul>
      <li>Rohan: Market Lead</li>
      <li>Diskit: Impact Lead</li>
      <li>Nikhil: Analytics Lead</li>
      <li>Berenice: Marketing Associate</li>
      <li>Lubna: Team Assistant</li>
      <li>Eli: Product Lead</li>
      <li>Grace: Front-End Developer</li>
      <li>Alex: Back-End Developer</li>
      <li>Geraldo: Web Developer</li>


    </ul>
  </div>

   <div class="about-section">
    <h1>Why we do it</h1>
    <p>It is becoming increasingly difficult to make sustainable forms of income in rural and remote communities around the world. Although globalization and urbanization are driving development in and around cities, there are some pockets of society that have basic unmet needs.</p>
  </div>

  <div class="about-section">
    <h1>How we do it</h1>
    <p>We wanted to create the most streamlined way for travelers to engage locally outside of tourist hotspots. So here is how it works:</p>

    <p>Our impact model is simple, we engage with local organizations that are planning and leading sustainable development initiatives and leverage travel experiences as a vehicle to raise the awareness and funds needed to execute projects that drive solutions.</p>
  </div>

</div>

