<% content_for(:title_tag) do %>
  Learn About Troveko's Own Adventure
<% end %>

<div class="background-image">
  <div class="background-overlay">
    <div class="col-md-10 col-md-offset-1">
      <h1>Designing Travel Experiences for the 21st Century: <br> Immersive. Impactful. Authentic.</h1>
      <div class="seperator"></div>
      <h2>We are an international team hailing from all corners of the world, joined in our passion for experiential travel and social impact. We are building the world's leading platform for social impact travel experiences, allowing millions of users to discover, support, and interact with ‘do-good’ organizations both virtually and in-person.</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="navbar-troveko-sticky navbar-filters" id='main-nav' style="justify-content: space-around;">
  <a href="#team" style="font-size: 24px;">Who</a>
  <a href="#what" style="font-size: 24px;">What</a>
  <a href="#story" style="font-size: 24px;">Why</a>
  <a href="#how" style="font-size: 24px;">How</a>
  <a href="#impact" style="font-size: 24px;">Impact</a>
  <a href="#partners" style="font-size: 24px;">Support</a>
</div>


 <div class="about-section impact-overlay" id="team">
  <div class="container">
    <h1>Who are we</h1>
    <p>Our team is a multi-disciplinary group of world-explorers and change-makers</p>
  <div class="row" id="team-members" style="padding: 15px 0px;">
    <%= render 'pages/team' %>
  </div>
</div>
  </div>

<div class="container">

  <div class="about-section" id="what">
    <h1>What we do</h1>
    <p>Troveko is a travel platform that allows travelers to book immersive experiences in rural and remote communities in Asia. Key to achieveing this mission is by using web tools to streamline the process of creating meaningful local engagement in areas that lie beyond tourist hotspot.</p>
   <center>
     <h2>Our mission is to leverage traveler curiosity to drive community impact and heritage preservation in rural and remote areas with unmet needs. We envision a world where tourism is a means to an end, not an end in itself.</h2>
   </center>
  </div>
</div>

<div class="about-section">
<div id="story-image">
  <div class="impact-overlay" id="story">
    <div class="container">
    <h1>Our Story</h1>
      <p>It is becoming increasingly difficult to make sustainable forms of income in rural and remote communities around the world. Although globalization and urbanization are driving development in and around cities, there are some pockets of society that have basic unmet needs.</p>
      <p>In 2016, a group of backpackers discovered they shared the same awe and appreciation for the local skills and traditions found in the rural and remote communities during their travels. But it was evermore clear that, over time, these very communities were increasingly distressed and squeezed in the context of a more globalized, digitalized, and urbanized world.</p>
      <p> Our curiosity led us to uncover the various environmental and economic challenges faced and we decided to explore how we can use forms of sustainable tourism to address the underlying causes of these challenges as opposed to using traditional tourism as a means to quickly patch up the economic symptoms. The driving question became: how do we leverage the curiosity of backpackers like us to invest in sustainable solutions preserve and enhance (rather than disrupt and dilute) the cultural and environmental richness of rural and remote communities?</p>
      <p>We decided to create Troveko, and work hands-on with grassroots NGOs to design educational and impactful travel experiences. Troveko was selected as one of sixteen startups from around the world to be part of the Young Social Entrepreneurs Incubator Programme hosted by Singapore International Foundation in cooperation with McKinseyandCo, Temasek International, and Ashoka.</p>
    </div>
  </div>
</div>
</div>


<div class="container">

  <div class="about-section" id="how">
    <h1>How we do it</h1>
    <p>We have created a multi-stakeholder business model that maximizes impact by investing directly into the communities that you travel to, turning your travel experiences into investments towards sustainable solutions through organizations that have the expertise.</p>

    <div class="row desktop-row-eq-height">
      <div class="col-xs-12 col-md-4 impact-box first">
        <div class="how-icon">
          <img class="icon" src="<%= image_path("NGO.png") %>">
        </div>
        <h4>Facilitators</h4>
        <p>We partner with effective NGOs and Social Enterprises with a mission around ecological and cultural conservation in rural and remote communities. We aim to work with their beneficiaries to design and host travel experiences, creating a cycle of reinvestment into community initiatives.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <div class="how-icon" >
          <img class="icon" src="<%= image_path("Host.png") %>">
        </div>
        <h4>Hosts</h4>
        <p>We partner with effective NGOs and Social Enterprises with a mission around ecological and cultural conservation in rural and remote communities. We aim to work with their beneficiaries to design and host travel experiences, creating a cycle of reinvestment into community initiatives.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <div class="how-icon">
          <img class="icon" id="how-t" src="<%= image_path("small_logo2.png") %>">
        </div>
        <h4>Troveko</h4>
        <p>Our impact model is simple, we engage with local organizations that are planning and leading sustainable development initiatives and leverage travel experiences as a vehicle to raise the awareness and funds needed to execute projects that drive solutions.</p>
      </div>
    </div>
  </div>


</div>

<div class="about-section" id="impact">
<div id="impact-image">
<div class="impact-overlay">
  <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
    <div class="container">
      <h1>Our Impact</h1>
    <div class="row desktop-row-eq-height">
      <div class="col-xs-12 col-md-4 impact-box first">
        <h4>Drive Visibility and Awareness</h4>
        <p>Visits generate additional support and income for great local organizations, strengthening their work and bolstering their ability to accomplish their goals.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <h4>Promote Bi-directional Experiential Learning</h4>
        <p>Eye-opening, transformative experiences and genuine human interaction improve public knowledge of and engagement with society's needs.</p>
      </div>

      <div class="col-xs-12 col-xs-offset-1 col-md-4 impact-box">
        <h4>Stimulate Community Impact</h4>
        <p>Visits increase local demand for guides, food, accommodation, and other hospitality needs, triggering communal economic development.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="container about-section" id="partners">
  <h1>Support</h1>
  <p>Troveko was selected for the Young Social Entrepreneurs Incubator Programme and was a semi-finalist in Skidmore College's Ken Freirich Business Plan Competition.</p>

  <h4>Organizations</h4>
    <div class="row" style="padding: 15px 0px;">
    <div class="col-xs-12 col-md-4">
      <div class="team-header">
        <div class="team-avt">
          <img height="140" width="140" src="https://i.warosu.org/data/biz/img/0011/35/1457616675098.png">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="team-header">
        <div class="team-avt">
          <img height="140" width="140" src="http://www.myeo.info/wp-content/uploads/2017/10/SIF.logo_.horizontal.colour.png">
        </div>
      </div>
    </div>
  </div>

  <h4>Advisory</h4>
    <div class="row" id="team-members" style="padding: 15px 0px;">

  <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="Michal Alter" title="Michal Alter" height="140" width="140" src="https://pbs.twimg.com/profile_images/884715944982986752/_LiGCf-2.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Nick Sarafa</h5>
        <p class="team-function">Technical Advisor</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 col-md-4 team-item">
      <div class="team-header">
        <div class="team-avt">
          <img alt="FirstNameLastName" title="FirstNameLastName" height="140" width="140" src="http://www.croeni.org/cms/wp-content/uploads/2015/05/jan-croeni.jpg">
        </div>
        <h5 class="team-name" id="michal_alter">Jan Croeni</h5>
        <p class="team-function">Strategy Advisor</p>
        <a href="https://www.linkedin.com/company/13373550/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
