<% @experience.activities.each do |activity| %>

  <div class="features">
    <p><i class="fa <%= activity.fa_icon %> icon" id="showicon" aria-hidden="true"></i><%= activity.name %></p>
  </div>
  <% end %>
