<% @experience.areatypes.each do |areatype| %>
    <div class="features">
      <i class="fa <%= areatype.fa_icon %> icon" id="showicon" aria-hidden="true"></i><%= areatype.name %>
      </%>
    </div>
<% end %>
