<% @experience.features.each do |feature| %>

  <!-- icon for feature -->

    <p class="features"><i class="fa <%= feature.fa_icon %> icon" aria-hidden="true"></i><%= feature.name %></p>

  <!-- name for feature -->


  <% end %>
