<% @experience.features.each do |feature| %>

  <!-- icon for feature -->
  <div class="features">
    <p><i class="fa <%= feature.fa_icon %> icon" id="showicon" aria-hidden="true"></i><%= feature.name %></p>
  </div>
  <!-- name for feature -->


  <% end %>
