
 <div id="bar-1" class="bar-main-container">
        <div>
          <div class="info">
            <div class="bar-container">
              <div class="bar">
              </div>
            </div>
            <div class="bar-percentage" data-percentage="<%= fund_percentage(@experience) %>">
            </div>
          </div>
        </div>
      </div>

        <%#= money_without_cents_and_with_symbol(@experience.fund.contributions.sum(:amount_cents) / 100) %>
        <%#=  money_without_cents_and_with_symbol(@experience.fund.funding_goal) %>
        <%#= @experience.fund.title %>


<!-- #3DBDBD -->
