
 <div id="bar-1" class="bar-main-container">
        <div>
          <div class="info">
            <div class="bar-container">
              <div class="bar">
              </div>
            </div>
            <div class="bar-percentage" data-percentage="<%= fund_percentage(@experience) %>">
            </div>
          </div>
        </div>
      </div>
