<div class="container-fluid">

  <center>
    <h1>Where will your next adventure be?</h1>
      <br>
      <%= link_to 'Grid', experiences_path, remote: true, method: :get, class: 'btn-primary btn-xl' %>
      <%= link_to 'Map', experiences_path(map: true), remote: true, method: :get, class: 'btn-primary btn-xl' %>
      <br>
  </center>


  <div class="row" style="padding-top: 40px;">
<!-- beginning of card loop -->
    <%= render 'list' %>
<!-- end of card loop -->
  </div>
</div>


<!-- basic loop for index page -->

<!-- <ol>
<%# @experiences.each do |experience| %>
<li>
  <%#= experience.address %> |
  <%#= experience.title %> |
  <%#= experience.price_cents %> |
  <%#= experience.user.email %> |
  <%#= link_to experience.title, experience_path(experience) %>
  </li>
<%# end %>
</ol>
 -->

<%#= render 'map' %>

<!-- let ngos list new experience -->

<%# if current_user.ngo? %>
        <%#= link_to "List New Experience", new_bunker_path, :class => "button" %>
<%# end %>

<!-- user avatar in card -->

<%#= image_tag facebook_image(experience.user), class: "card-user" %>
