<% content_for(:title_tag) do %>
  Create a New Travel Experience
<% end %>

 <div class="container">
    <div class="row">
      <h1>Create a New Experience</h1>
      <h4>Tell the stories that deserve to be told</h4>
    </div>
    <div class="container new_exp">
      <div class="row">
      <%= render 'experiences/form' %>
    </div>
    </div>

  </div>
<!-- </div>
 -->
