<h1>Experiences#new</h1>
<p>Find me in app/views/experiences/new.html.erb</p>

<div class="container">
  <div class="row">
    <%= render 'form' %>
  </div>
</div>

        <%#= f.collection_check_boxes :feature_ids, Feature.all, :id, :name %>
        <%#= f.input :photos, as: :attachinary %>
        <%#= f.input :status, inline_label: 'I confirm that I am part of an organization' %>
