<div class="new_exp">

<div class="container">

<div class="row">
  <h1>Create a New Experience</h1>
  <h4>Tell the stories that deserve to be told</h4>
</div>


  <div class="row">
    <%= render 'form' %>
  </div>

</div>

</div>

        <%#= f.collection_check_boxes :feature_ids, Feature.all, :id, :name %>
        <%#= f.input :photos, as: :attachinary %>
        <%#= f.input :status, inline_label: 'I confirm that I am part of an organization' %>
