<div class="new_exp">
  <div class="container">
    <div class="row">
      <h1>Create a New Experience</h1>
      <h4>Tell the stories that deserve to be told</h4>
    </div>
    <div class="row">
      <%= render 'form' %>
    </div>
  </div>
</div>
