<div class="container-lg">
 <div class="cell example example4">
  <%= form_tag trip_payments_path(@trip.id), method: 'post', id: 'payment-form' do %>
  <div id="example4-paymentRequest">
    <!--Stripe paymentRequestButton Element inserted here-->
  </div>
  <fieldset>
    <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay with card</legend>
    <legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card details</legend>
    <!-- <div class="container"> -->
      <div id="example4-card"></div>
      <button type="submit" data-tid="elements_examples.form.donate_button">Make Payment</button>
    <!-- </div> -->
  </fieldset>
  <div class="error" role="alert"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
    <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
    <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
  </svg>
  <span class="message"></span></div>
  <% end %>
  <div class="success">
    <div class="icon">
      <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
        <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
      </svg>
    </div>
    <h3 class="title" data-tid="elements_examples.success.title">Payment successful</h3>
    <p class="message"><span data-tid="elements_examples.success.message">Thanks for making your payment to Troveko with Stripe.</span>
      <!-- <span class="token">tok_189gMN2eZvKYlo2CwTBv9KKh</span> -->
    </p>
  </div>
</div>
</div>

<%= content_for(:after_js) do %>
<script>


  (function() {
    "use strict";

    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY']%>");

    function registerElements(elements, exampleName) {
      var formClass = '.' + exampleName;
      var example = document.querySelector(formClass);

      var form = document.getElementById('payment-form');
      var resetButton = example.querySelector('a.reset');
      var error = form.querySelector('.error');
      var errorMessage = error.querySelector('.message');

      function enableInputs() {
        Array.prototype.forEach.call(
          form.querySelectorAll(
            "input[type='text'], input[type='email'], input[type='tel']"
          ),
          function(input) {
            input.removeAttribute('disabled');
          }
        );
      }

      function disableInputs() {
        Array.prototype.forEach.call(
          form.querySelectorAll(
            "input[type='text'], input[type='email'], input[type='tel']"
          ),
          function(input) {
            input.setAttribute('disabled', 'true');
          }
        );
      }

      // Listen for errors from each Element, and show error messages in the UI.
      var savedErrors = {};
      elements.forEach(function(element, idx) {
        element.on('change', function(event) {
          if (event.error) {
            error.classList.add('visible');
            savedErrors[idx] = event.error.message;
            errorMessage.innerText = event.error.message;
          } else {
            savedErrors[idx] = null;

            // Loop over the saved errors and find the first one, if any.
            var nextError = Object.keys(savedErrors)
              .sort()
              .reduce(function(maybeFoundError, key) {
                return maybeFoundError || savedErrors[key];
              }, null);

            if (nextError) {
              // Now that they've fixed the current error, show another one.
              errorMessage.innerText = nextError;
            } else {
              // The user fixed the last error; no more errors.
              error.classList.remove('visible');
            }
          }
        });
      });

      // Listen on the form's 'submit' handler...
      form.addEventListener('submit', function(e) {
        e.preventDefault();

        // Show a loading screen...
        example.classList.add('submitting');

        // Disable all inputs.
        disableInputs();

        // Gather additional customer data we may have collected in our form.
        var name = form.querySelector('#' + exampleName + '-name');
        var address1 = form.querySelector('#' + exampleName + '-address');
        var city = form.querySelector('#' + exampleName + '-city');
        var state = form.querySelector('#' + exampleName + '-state');
        var zip = form.querySelector('#' + exampleName + '-zip');
        var additionalData = {
          name: name ? name.value : undefined,
          address_line1: address1 ? address1.value : undefined,
          address_city: city ? city.value : undefined,
          address_state: state ? state.value : undefined,
          address_zip: zip ? zip.value : undefined,
        };

        // Use Stripe.js to create a token. We only need to pass in one Element
        // from the Element group in order to create a token. We can also pass
        // in the additional customer data we collected in our form.
        stripe.createToken(elements[0], additionalData).then(function(result) {
          // Stop loading!
          example.classList.remove('submitting');

          if (result.token) {
            // If we received a token, show the token ID.
            // example.querySelector('.token').innerText = result.token.id;
            example.classList.add('submitted');

            $.ajax({
                type: "POST",
                url: "<%= trip_payments_path(@trip.id) %>",
                data: { token: result.token.id},
                dataType: "json",
                success: function(data, textStatus) {
                    if (data.url) {
                        // data.redirect contains the string URL to redirect to
                        window.location.href = data.url;
                    }
                    else {
                        // data.form contains the HTML for the replacement form
                        // $("#myform").replaceWith(data.form);
                    }
                }
            });
          } else {
            // Otherwise, un-disable inputs
            enableInputs();
          }
        });
      });

    resetButton.addEventListener('click', function(e) {
      e.preventDefault();
      // Resetting the form (instead of setting the value to `''` for each input)
      // helps us clear webkit autofill styles.
      form.reset();

      // Clear each Element.
      elements.forEach(function(element) {
        element.clear();
      });

      // Reset error state as well.
      error.classList.remove('visible');

      // Resetting the form does not un-disable inputs, so we need to do it separately:
      enableInputs();
      example.classList.remove('submitted');
    });
  }

    var elements = stripe.elements({
      fonts: [
        {
          cssSrc: "https://rsms.me/inter/inter-ui.css"
        }
      ],
      // Stripe's examples are localized to specific languages, but if
      // you wish to have Elements automatically detect your user's locale,
      // use `locale: 'auto'` instead.
      locale: window.__exampleLocale
    });

    /**
     * Card Element
     */
    var card = elements.create("card", {
      style: {
        base: {
          color: "#32325D",
          fontWeight: 500,
          fontFamily: "Inter UI, Open Sans, Segoe UI, sans-serif",
          fontSize: "15px",
          fontSmoothing: "antialiased",

          "::placeholder": {
            color: "#CFD7DF"
          }
        },
        invalid: {
          color: "#E25950"
        }
      }
    });

    card.mount("#example4-card");

    /**
     * Payment Request Element
     */
    var paymentRequest = stripe.paymentRequest({
      country: "US",
      currency: "usd",
      total: {
        amount: 2000,
        label: "Total"
      }
    });
    paymentRequest.on("token", function(result) {
      var example = document.querySelector(".example4");
      example.querySelector(".token").innerText = result.token.id;
      example.classList.add("submitted");
      result.complete("success");
    });

    var paymentRequestElement = elements.create("paymentRequestButton", {
      paymentRequest: paymentRequest,
      style: {
        paymentRequestButton: {
          type: "donate"
        }
      }
    });

    paymentRequest.canMakePayment().then(function(result) {
      if (result) {
        document.querySelector(".example4 .card-only").style.display = "none";
        document.querySelector(
          ".example4 .payment-request-available"
        ).style.display =
          "block";
        paymentRequestElement.mount("#example4-paymentRequest");
      }
    });

    registerElements([card, paymentRequestElement], "example4");
  })();

</script>
<% end %>
