
.card {
  height: 400px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 0 0 5px #555;
  border-radius: 1%;



  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}


.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  // right: 50px;
  // bottom: 20px;
  font-size: 15px;
  // text-transform: uppercase;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}


.card_infobox{
  padding-left: 20px;
  height: 150px;
  width: 200;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 1%;
  box-shadow: 0 0 5px #555;
}

#experience .card-category {
  position: absolute;
  top: 300px;
  left: 50px;
  right: 50px;
  bottom: 20px;
  // font-size: 20px;
  // text-transform: uppercase;
}

// #experience .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   width: 40px;
//   border-radius: 50%;
// }

#experience .card-description {
  position: absolute;
  // bottom: 10px;
  left: 50px;
  right: 50px;
  top: 10px;
}

#experiences .card-description h2 {
  font-size: 24px;
}

//------------Mobile View---------------------------------
//-------------------------------------------------------
@media screen and (max-width: 780px){

  .card h1 {
    font-size: 36px;
  }


  #price-card{
  font-size: 20px;
}

}
