.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  position: relative;
  bottom:0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}

